{% extends 'base.html' %}
{% load static from staticfiles %}
{% block subtitle %}
Dashboard de Reparaciones
{% endblock %}

{% block styles %}
<link href="{% static 'dashboard_styles.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="container-fluid">

  <div class="row">
    <div class="col-sm">
      
        
          <!-- Icons Grid -->
          <section class="features-icons text-center">
            <div class="container-fluid">
              <div class="row">
                <div class="col-sm-6 border-right hover-bg">

                  
                  <a href="{% url 'repairtracker:repair-list' %}" class="no_underline">
                    <div class="features-icons-item mx-auto">
                      <div class="features-icons-icon">
                        <i class="material-icons action-icon">search</i>
                      </div>
                      <h5 class="action-title">Buscar</h5>
                      <p class="lead mb-0 action-lead">Buscar dispositivo registrado</p>
                    </div>
                  </a>
                </div>

                <div class="col-sm-6 border-left">
                  <a href="{% url 'repairtracker:repair-create' %}" class="no_underline">
                    <div class="features-icons-item mx-auto">
                      <div class="features-icons-icon">
                        <i class="material-icons action-icon">note_add</i>
                      </div>
                      <h5 class="action-title">Captura</h5>
                      <p class="lead mb-0 action-lead">Capturar nuevo dispositivo ingresado al taller.</p>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </section>
        
      
    </div>
  </div>


  <br />


  <div class="row">
    <div class="col-sm">
      <a href="{% url 'repairtracker:repair-list' %}#pending" class="custom-card no_underline">
        <div class="card text-white bg-warning">
          <h5 class="card-header">Pendientes a Reparar: {{pending_ir.count}}</h5>
          <div class="card-body">
            <div class="row">
              <div class="col-sm">
                Cotizaciones
                  <h3 id="number">{{pending_invoices.count}}</h3>
              </div>
              <div class="col-sm">
                Reparaciones
                  <h3 id="number">{{pending_repairs.count}}</h3>
              </div>
            </div>

            
          </div>
        </div>
      </a>
    </div>


    <div class="col-sm">
      <a href="{% url 'repairtracker:repair-list' %}#pending-delivery" class="custom-card no_underline">
        <div class="card text-white bg-success">
          <h5 class="card-header">Pendientes a Entregar</h5>
          <div class="card-body">
            <h3 id="number">{{pending_delivery.count}}</h3>
          </div>
        </div>
      </a>
    </div>
    <div class="col-sm">

      <a href="{% url 'repairtracker:repair-list' %}#completed" class="custom-card no_underline">
        <div class="card text-white bg-info">
          <h5 class="card-header">Completadas</h5>
          <div class="card-body">
            <h3 id="number">{{completed.count}}</h3>
          </div>
        </div>
      </a>
    </div>
    <div class="col-sm">

        <a href="{% url 'repairtracker:repair-list' %}#discarded" class="custom-card no_underline">
          <div class="card text-white bg-danger">
            <h5 class="card-header">Descartadas</h5>
            <div class="card-body">

              <h3 id="number">{{discarded.count}}</h3>
            </div>
          </div>
        </a>
      </div>

  </div>








</div>

{% endblock %}

{% block scripts %}
<script src="{% static 'material-dashboard.js' %}"></script>
<script src="{% static 'plugins/bootstrap-notify.js' %}"></script>
<script src="{% static 'plugins/chartist.min.js' %}"></script>
<script src="{% static 'plugins/perfect-scrollbar.jquery.min.js' %}"></script>
{% endblock %}