{% extends 'base.html' %}
{% load static from staticfiles %}
{% load bootstrap %}
{% block subtitle %}
  Actualizar Reparación
{% endblock %}

{% block headscripts %}

{% endblock %}

{% block styles %}
<link href="{% static 'repairupdate_styles.css' %}" rel="stylesheet">
<link href="{% static 'patternlock/patternlock.css' %}" rel="stylesheet">
<link href="{% static 'patternlock/patternlock-wdirection.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

<h1>Actualizar Reparación</h1>
<div class="repair-update">
    <form class="site-form" action="{% url 'repairtracker:repair-update' repair.idCase %}" method="post">
      {% csrf_token %}

        <div class="form-group">
  
        <hr></hr>
        <h3>Información de Contacto</h3>
        {{ form.ownerName|bootstrap }}
        {{ form.phoneNumber|bootstrap }}
        {{ form.userEmail|bootstrap }}
  
        <br/>
        
        <h3>Información de Dispositivo</h3>
         
        {{ form.serialNumber|bootstrap }}
        {{ form.imeiNumber|bootstrap }}
        {{ form.devType|bootstrap }}
        {{ form.devModel|bootstrap }}
        {{ form.devBrand|bootstrap }}
        {{ form.passWord|bootstrap }}
        {{ form.passPin|bootstrap }}
        <label>Patron</label>
        <div id="patternHolder">

          </div>
        <input type="hidden" id="pattString" name="passPatt" value="" />
        {{ form.probDescription|bootstrap }}
        {{ form.repairCost|bootstrap }}

       </div>

       <div class="card">
          <div class="card-header">
           Condiciones del Equipo al Recibirse
          </div>
          <div class="card-body">
             <div class="row">
                <div class="col-sm">
                    {{ form.con_devPower|bootstrap }}
                  </div>
                  <div class="col-sm">
                    {{ form.con_devAssembly|bootstrap }}
                  </div>
                  <div class="col-sm">
                    {{ form.con_devChargeCable|bootstrap }}
                  </div>
                  <div class="col-sm">
                    {{ form.con_devChargeAdapter|bootstrap }}
                  </div>
                  <div class="col-sm">
                    {{ form.con_devSIM|bootstrap }}
                  </div>
                  <div class="col-sm">
                    {{ form.con_devCase|bootstrap }}
                  </div>
                  <div class="col-sm">
                    {{ form.con_devSDCard|bootstrap }}
                  </div>
                  <div class="col-sm">
                    {{ form.con_devBattery|bootstrap }}
                  </div>
               </div>
 
          </div>
       </div>

       {{form.repairStatus|bootstrap}}
       {{form.repairDetail|bootstrap}}


       <div class="card">
          <div class="card-header">
            Adjuntar Imagenes:
          </div>
          <div class="card-body">
         {{ formset.management_form }}
         {% for form in formset %}
         <div class="row" id="img-up-row">
           {{ form }}
          </div>
         {% endfor %}
          </div>
        </div>


     <input class="btn btn-primary btn-raised" type="submit" value="Actualizar">
   </form>
</div>



{% endblock %}

{% block scripts %}

<script src="{% static 'patternlock/patternlock.js' %}"></script>

<script>
  
    var lock=new PatternLock('#patternHolder',{
      mapper: function(idx){
        x = idx%9;
          return (idx%9);
       },
       onDraw:function(pattern){
        //alert(pattern);
        document.getElementById('pattString').value = pattern;
      }
    });
    
    
    /*var pattern = lock.getPattern();*/
  </script>
  <script type="text/javascript">

  </script>


{% endblock %}
