{% extends 'base.html' %}

{% load static from staticfiles %}
{% load bootstrap %}

{% block subtitle %}
Detalle de Reparación
{% endblock %}

{% block styles %}
<link href="{% static 'repairdetail_styles.css' %}" rel="stylesheet">
<link href="{% static 'patternlock/patternlock.css' %}" rel="stylesheet">
<link href="{% static 'patternlock/patternlock-wdirection.css' %}" rel="stylesheet">

{% endblock %}


{% block content %}

{% if messages %}
<div class="alert alert-success alert-dismissible fade show align-self-center" role="alert">
  <ul>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
  </ul>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endif %}

<h1>Detalle de Reparación</h1>
<h3>Folio: {{ repair.id }}</h3>
<div class="repair-detail">
  <div class="repair">
    <hr>
    </hr>
    <h3>Información de Contacto</h3>

    <table class="table table-bordered" cellpadding="10">
      <tr>
        <td>Nombre Propietario</td>
        <td>{{ repair.ownerName }}</td>
      </tr>
      <tr>
        <td>Telefono</td>
        <td>{{ repair.phoneNumber }}</td>
      </tr>
      <tr>
        <td>Correo Electronico</td>
        <td>{{ repair.userEmail }}</td>
      </tr>
      <tr>
        <td>Dispositivo recibido por</td>
        <td>{{ repair.createdBy.first_name }} {{ repair.createdBy.last_name }}</td>
      </tr>
    </table>
    <br />
    <h3>Información de Dispositivo</h3>
    <table class="table table-bordered" cellpadding="10">
      {% if repair.serialNumber %}
      <tr>
        <td>No. Serial</td>
        <td>{{ repair.serialNumber }}</td>
      </tr>
      {% endif %}
      {% if repair.imeiNumber %}
      <tr>
        <td>No. IMEI</td>
        <td>{{ repair.imeiNumber }}</td>
      </tr>
      {% endif %}
      <tr>
        <td>Tipo Dispositivo</td>
        <td>{{ repair.get_devType_display }}</td>
      </tr>
      <tr>
        <td>Marca</td>
        <td>{{ repair.devBrand }}</td>
      </tr>
      <tr>
        <td>Modelo</td>
        <td>{{ repair.devModel }}</td>
      </tr>
      <tr>
        {% if repair.passWord %}
        <td>Password</td>
        <td> {{ repair.passWord }}</td>
        {% elif repair.passPin and repair.passPatt %}
        <td>PassPin</td>
        <td>{{repair.passPin}}</td>
      <tr>
        <td>Patron</td>
        <td>
          <div id="patternHolder2">

          </div>
          Orden de Puntos del Patron: {{repair.passPatt}}
      </tr>
      </td>
      {% elif repair.passPatt %}
      <td>Patron</td>
      <td>
        <div id="patternHolder"></div>
      </td>
      {% elif repair.passPin %}
      <td>PassPin</td>
      <td>{{repair.passPin}}</td>
      {% else %}
      <td>Password</td>
      <td>Sin Contraseña</td>
      {% endif %}
      </tr>
      <tr>
        <td>Inicio Reparación</td>
        <td>{{ repair.startDate }}</td>
      </tr>
      <tr>
        <td>Descripción Problema</td>
        <td>{{ repair.probDescription }}</td>
      </tr>
      {% if repair.repairStatus == "ENT" %}
      <tr class="table-info">
        {% elif repair.repairStatus == "COT" %}
      <tr class="table-warning">
        {% elif repair.repairStatus == "PREP"%}
      <tr class="table-warning2">
        {% elif repair.repairStatus == "REP" %}
      <tr class="table-success">
        {% elif repair.repairStatus == "DES" %}
      <tr class="table-danger">
        {% endif %}
        <td>Estado</td>
        <!---<td>{{ repair.get_repairStatus_display }}</td>-->
        <td>
          <form class="site-form" name="form" action="{% url 'repairtracker:repair-detail' repair.idCase %}" method="POST"
            onChange="form.submit();">
            {% csrf_token %}
            <div class="form-group">


              <div class="form-group bmd-form-group is-filled">

                <div class=" ">
                  <select name="repairStatus" class=" form-control" id="id_repairStatus" autocomplete="off">
                    <option selected>{{repair.get_repairStatus_display}}</option>

                    <option value="COT">Cotizacion</option>

                    <option value="PREP">Reparacion</option>

                    <option value="REP">Reparado. Listo para Entrega</option>

                    <option value="ENT">Entregado/Fuera de Tienda</option>

                    <option value="DES">Reparacion/Cotizacion no Realizada</option>

                  </select>

                </div>

              </div>

            </div>

          </form>
        </td>
      </tr>
      <tr class="table-primary">
        <td>Detalle Estado</td>
        <td>{{ repair.repairDetail }}</td>
      </tr>
      <tr>
        <td>Costo Total</td>
        <td>${{ repair.repairCost }}</td>
      </tr>
      <tr>
        <td>Imagenes</td>
        <td>
          <div class="row">
            {% for image in images %}
            {% if image.image %}
            <div class="card">
              <div class="card-body">
                <div class="img-container">
                  <a href="{{ image.image.url }}"><img src="{{ image.image.url }}" height="150" width="150" class="image" /></a>
                  <div class="overlay">
                    <a href="{{ image.image.url }}" class="btn btn-primary btn-raised" role="button" target="_blank">Ver</a>
                    <a href="{% url 'repairtracker:delete-repair-image' repair.idCase image.id %}" class="btn btn-danger btn-raised"
                      role="button">Borrar</a>
                  </div>
                </div>

              </div>
            </div>
            {% endif %}
            {% endfor %}
          </div>
        </td>
      </tr>
    </table>

    <div class="card">
      <div class="card-header">
        Condiciones del Equipo al Recibirse
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-sm">
            {{ repair.get_con_devPower_display }}
          </div>
          <div class="col-sm">
            {{ repair.get_con_devAssembly_display }}
          </div>
          <div class="col-sm">
            {{ repair.get_con_devChargeCable_display }}
          </div>
          <div class="col-sm">
            {{ repair.get_con_devChargeAdapter_display }}
          </div>
          <div class="col-sm">
            {{ repair.get_con_devSIM_display }}
          </div>
          <div class="col-sm">
            {{ repair.get_con_devCase_display }}
          </div>
          <div class="col-sm">
            {{ repair.get_con_devSDCard_display }}
          </div>
          <div class="col-sm">
            {{ repair.get_con_devBattery_display }}
          </div>
        </div>

      </div>
    </div>
    <br />
    {% if user.is_superuser or user.is_staff %}

    {% if user.is_superuser %}
    <a class="btn btn-warning" href="{% url 'repairtracker:repair-update' repair.idCase %}" role="button">Actualizar</a>
    {% endif %}
    <a href="{% url 'repairtracker:view-ticket' repair.idCase %}" class="btn btn-primary btn-raised">Ver Nota de
      Ingreso</a>

    {% if user.is_superuser%}
    <button class="btn btn-danger btn-raised" data-toggle="modal" data-target="#deleteModal">Borrar</button>

  </div>




  <!-- Modal -->
  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Borrar Registro</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Seguro que desea borrar el Registro?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          <a class="btn btn-danger btn-raised" href="{% url 'repairtracker:repair-delete' repair.idCase %}" role="button">Borrar</a>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
  {% endif %}


</div>
</div>




{% endblock %}

{% block scripts %}
<script src="{% static 'patternlock/patternlock.js' %}"></script>
<script>
  var lock = new PatternLock('#patternHolder2', { enableSetPattern: true });
  lock.setPattern(123578);
</script>



<script>
  var sizeTheOverlays = function () {
    $(".overlay").resize().each(function () {
      var h = $(this).parent().outerHeight();
      var w = $(this).parent().outerWidth();
      $(this).css("height", h);
      $(this).css("width", w);
    });
  };

  sizeTheOverlays();


  var width = $(window).width();
  $(window).resize(function () {
    if ($(this).width() != width) {
      width = $(this).width();
      sizeTheOverlays();
    }
  });
</script>


{% endblock %}