{% extends 'base.html' %}
{% load static from staticfiles %}
{% load bootstrap %}

{% block subtitle %}
Crear Solicitud de Reparación
{% endblock %}

{% block styles %}
<link href="{% static 'createrepair_styles.css' %}" rel="stylesheet">
<link href="{% static 'patternlock/patternlock.css' %}" rel="stylesheet">
<link href="{% static 'patternlock/patternlock-wdirection.css' %}" rel="stylesheet">
<style>
  .help-block{
      color: rgb(245, 2, 2)!important;
    }
</style>
<style>
  #patternHolder .patt-circ.dir{
    background-image: url("{% static 'imgs/icon-arrow.png' %}");
  }
</style>
{% endblock %}

{% block content %}

{% if form.errors %}
<div class="alert alert-warning alert-dismissible fade show align-self-center" role="alert">
  <ul>

    {% for error in form.non_field_errors %}
    <li>{{ error }}</li>
    {% endfor %}

  </ul>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endif %}

<div class="create-repair">
  <h2>Crear Reparación</h2>
  <form class="site-form" id="mainform" enctype="multipart/form-data" action="{% url 'repairtracker:repair-create' %}"
    method="post">
    {% csrf_token %}

    <div class="form-group">
      <div class="form-group bmd-form-group is-filled">


        <label class="control-label required bmd-label-static" for="id_repairStatus">Estado de Reparacion</label>


        <div class=" ">
          <select name="repairStatus" class=" form-control" id="id_repairStatus" autocomplete="off">

            <option value="COT">Cotizacion</option>

            <option value="PREP" selected="">Reparacion</option>

          </select>

        </div>

      </div>
      <hr>
      </hr>
      <h3>Cliente</h3>
      <label class="control-label required" for="id_client">Cliente</label>
      <select name="client" class=" form-control selectpicker" data-live-search="true" required="" id="id_client" autocomplete="off">
        <option value="" selected="">---------</option>
        {% for client in clients %}
        <option value="{{client.id_client}}">{{client.profile.first_name}} {{ client.profile.last_name }}</option>

        {% empty %}
          <option value="" >No hay clientes registrados</option>
        {% endfor %}
        
      
      </select>
      



      <h3>Información de Dispositivo</h3>

      {{ device_form.serialNumber|bootstrap }}
      {{ device_form.devType|bootstrap }}
      <div class="row">

        <div class="col-sm">
          {{ device_form.devBrand|bootstrap }}
          
        </div>
        <div class="col-sm">
          {{ device_form.devModel|bootstrap }}
        </div>
      </div>
      <div class="row">
        <div class="conditional2 col" data-condition="['PHONE'].includes(devType)">
          {{ cel_form.cel_number|bootstrap}}
          {{ cel_form.imei|bootstrap }}
          {{ cel_form.provider|bootstrap}}

        </div>
      </div>
      
      <div class="row">
        <div class="col-sm">
          <div class="form-group bmd-form-group">
            <label for="" class="control-label bmd-label-static" for="id_passTypeSelect">Tipo de Protección</label>
            <select class="form-control select" id="passTypeSelect" name="passTypeSelect">
              <option value="NONE">Sin Contraseña</option>
              <option value="PASS">Password</option>
              <option value="PIN">PIN</option>
              <option value="PATT">Patrón</option>
            </select>
          </div>
        </div>
        <div class="col-sm mt-2">

          <div class="conditional" data-condition="['PASS'].includes(passTypeSelect)">
            {{ device_form.passWord|bootstrap }}
            <input type="checkbox" id="box" onclick="reveal_pw()">
          </div>

          <div class="conditional" data-condition="['PIN'].includes(passTypeSelect)">
            {{ device_form.passPin|bootstrap }}

            <input type="checkbox" id="box" onclick="reveal_pin()">
          </div>

          <div class="conditional" data-condition="['PATT'].includes(passTypeSelect)">
            <div id="patternHolder">

            </div>
            <input type="hidden" id="pattString" name="passPatt" value="" />
            <div class="form-group bmd-form-group">


              <label class="control-label bmd-label-static" for="id_passPin">PIN</label>


              <div class=" ">
                <input type="password" name="passPin" id="pin2" maxlength="10" class=" form-control form-control"
                  autocomplete="off">

              </div>
            </div>

            <input type="checkbox" id="box" onclick="reveal_patt_pin()">
          </div>

        </div>
      </div>

      <br />
      <div class="card">
        <div class="card-header">
          Condiciones del Equipo al Recibirse
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-sm">
              {{ device_form.con_devPower|bootstrap }}
            </div>
            <div class="col-sm">
              {{ device_form.con_devAssembly|bootstrap }}
            </div>
            <div class="col-sm">
              {{ device_form.con_devChargeCable|bootstrap }}
            </div>
            <div class="col-sm">
              {{ device_form.con_devChargeAdapter|bootstrap }}
            </div>
            <div class="col-sm">
              {{ device_form.con_devSIM|bootstrap }}
            </div>
            <div class="col-sm">
              {{ device_form.con_devCase|bootstrap }}
            </div>
            <div class="col-sm">
              {{ device_form.con_devSDCard|bootstrap }}
            </div>
            <div class="col-sm">
              {{ device_form.con_devBattery|bootstrap }}
            </div>
          </div>

        </div>
      </div>
      {{ repair_form.probDescription|bootstrap }}
      <div class="card">
        <div class="card-header">
          Adjuntar Imagenes:
        </div>
        <div class="card-body">
          {{ formset.management_form }}
          {% for form in formset %}
            {{ form.image.label }}
            {{ form.image }}
          {% endfor %}


          <div id="container">
            <video autoplay="true" id="videoElement">

            </video>
          </div>

        </div>


      </div>



    </div>

    <input class="btn btn-primary btn-raised" type="submit" value="Registrar">
  </form>
</div>
{% endblock %}

{% block scripts %}

<script src="{% static 'conditionizejs/conditionize.flexible.jquery.min.js' %}"></script>
<script src="{% static 'patternlock/patternlock.js' %}"></script>
<script src="{% static 'html2canvas/html2canvas.js' %}"></script>
<script>
  $('.conditional').conditionize({

  });
</script>
<script>
    $('.conditional2').conditionize({
  
    });
  </script>

<script>

  var lock = new PatternLock('#patternHolder', {
    mapper: function (idx) {
      x = idx % 9;
      return (idx % 9);
    },
    onDraw: function (pattern) {
     //alert(pattern);
      document.getElementById('pattString').value = pattern;
    }
  });


  /*var pattern = lock.getPattern();*/
</script>
<script>
  function savePattern() {

  }
</script>


<script>
  function reveal_pw() {
    var x = document.getElementById("pw");
    if (x.type === "password") {
      x.type = "text";
    } else {
      x.type = "password";
    }
  }
</script>
<script>
  function reveal_pin() {
    var x = document.getElementById("pin");
    if (x.type === "password") {
      x.type = "text";
    } else {
      x.type = "password";
    }
  }
</script>
<script>
  function reveal_patt_pin() {
    var x = document.getElementById("pin2");
    if (x.type === "password") {
      x.type = "text";
    } else {
      x.type = "password";
    }
  }
</script>
<script>
  var video = document.querySelector("#videoElement");

  if (navigator.mediaDevices.getUserMedia) {
    navigator.mediaDevices.getUserMedia({ video: true })
      .then(function (stream) {
        video.srcObject = stream;
      })
      .catch(function (err0r) {
        console.log("Something went wrong!");
      });
  }

</script>
{% endblock %}