{% extends 'base.html' %}

{% block subtitle %}
  Lista de Reparaciones
{% endblock %}

{% load static from staticfiles %}

{% block styles %}
  <link href="{% static 'repairtracker_styles.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

{% if messages %}
<div class="alert alert-warning alert-dismissible fade show align-self-center" role="alert">
   <ul>
       {% for message in messages %}
       <li>{{ message }}</li>
       {% endfor %}
   </ul>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endif %}


  <div class="row">
    <div class="col">
      <h1>Lista de Reparaciones</h1>
    </div>
    <div class="col">
      
      <a class="btn btn-warning btn-raised float-right" id="create-btn" href="{% url 'repairtracker:repair-create' %}" role="button"><span class="material-icons sidebar-icon">note_add</span>Registrar Dispositivo</a>
    </div>
  </div>


<div class="row">
  <div class="col-lg-4 col-lg-offset-4">
      <input type="search" id="search" value="" class="form-control" placeholder="Buscar...">
  </div>
</div>

    <div class="repairs">

        <div class="repair">
            <ul class="nav nav-tabs flex-fill justify-content-center bg-light" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="all-tab" data-toggle="tab" href="#all" role="tab" aria-controls="all" aria-selected="false">Todas</a>
                  </li>
                <li class="nav-item">
                  <a class="nav-link" id="pending-tab" data-toggle="tab" href="#pending" role="tab" aria-controls="pending" aria-selected="true">Cotizaciones y Reparaciones Pendientes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pending-delivery-tab" data-toggle="tab" href="#pending-delivery" role="tab" aria-controls="pending-delivery" aria-selected="true">Pendientes a Entregar</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="completed-tab" data-toggle="tab" href="#completed" role="tab" aria-controls="completed" aria-selected="false">Entregadas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="discarded-tab" data-toggle="tab" href="#discarded" role="tab" aria-controls="completed" aria-selected="false">Descartadas</a>
                  </li>
            </ul>



        <div class="tab-content " id="myTabContent">

            <div class="tab-pane fade show active" id="all" role="tabpanel" aria-labelledby="all-tab">

                <table class="table text-center table-hover" id="repair-table" cellpadding="10">
                    <thead>
                      <tr>
                        <th scope="col">Folio</th>
                        <th scope="col">Nombre Propietario</th>
                        <th scope="col">Num. Telefono</th>
                        <th scope="col">Marca</th>
                        <th scope="col">Modelo</th>
                        <th scope="col">Creado Por</th>
                        <th scope="col">Creado el</th>
                        <th scope="col">Estado</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for repair in repairs %}
                      
                      {% if repair.repairStatus == "REP" %}
                        <tr class="clickable-row table-success" data-href="{% url 'repairtracker:repair-detail' repair.idCase %}">
                      {% elif repair.repairStatus == "COT" %}
                        <tr class="clickable-row table-warning" data-href="{% url 'repairtracker:repair-detail' repair.idCase %}">
                      {% elif repair.repairStatus == "PREP" %}
                        <tr class="clickable-row table-warning2" data-href="{% url 'repairtracker:repair-detail' repair.idCase %}">
                      {% elif repair.repairStatus == "ENT" %}
                        <tr class="clickable-row table-info" data-href="{% url 'repairtracker:repair-detail' repair.idCase %}">
                      {% elif repair.repairStatus == "DES" %}
                        <tr class="clickable-row table-danger" data-href="{% url 'repairtracker:repair-detail' repair.idCase %}">
                      {% endif %}
                          <td scope="row">{{ repair.id }}</td>
                          <td>{{ repair.ownerName }}</td>
                          <td>{{ repair.phoneNumber }}</td>
                          <td>{{ repair.devBrand }}</td>
                          <td>{{ repair.devModel }}</td>
                          <td>{{ repair.createdBy }}</td>
                          <td>{{ repair.startDate }}</td>
                          <td>{{ repair.get_repairStatus_display }}</td>
                        </tr>
                      
                      {% endfor %}
                    </tbody>
                  </table>
  
            </div>

          <div class="tab-pane fade" id="pending" role="tabpanel" aria-labelledby="pending-tab">
              <table class="table text-center table-hover" id="repair-table" cellpadding="10">
                  <thead>
                    <tr>
                      <th scope="col">Folio</th>
                      <th scope="col">Nombre Propietario</th>
                      <th scope="col">Num. Telefono</th>
                      <th scope="col">Marca</th>
                      <th scope="col">Modelo</th>
                      <th scope="col">Creado Por</th>
                      <th scope="col">Creado el</th>
                      <th scope="col">Estado</th>
                      
                    </tr>
                  </thead>
                  <tbody>
                    {% for repair in repairs %}
      
                      {% if repair.repairStatus == "COT" or repair.repairStatus == "PREP" %}

                        {% if repair.repairStatus == "COT" %}
                          <tr class="clickable-row table-warning" data-href="{% url 'repairtracker:repair-detail' repair.idCase %}">
                        {% elif repair.repairStatus == "PREP" %}
                          <tr class="clickable-row table-warning2" data-href="{% url 'repairtracker:repair-detail' repair.idCase %}">
                        {% endif %}
                      
                          <td scope="row">{{ repair.id }}</td>
                          <td>{{ repair.ownerName }}</td>
                          <td>{{ repair.phoneNumber }}</td>
                          <td>{{ repair.devBrand }}</td>
                          <td>{{ repair.devModel }}</td>
                          <td>{{ repair.createdBy }}</td>
                          <td>{{ repair.startDate }}</td>
                          <td>{{ repair.get_repairStatus_display }}</td>
                          
                          
                        </tr>
                      {% endif %}
                    {% endfor %}
                  </tbody>
                </table>

          </div>


          <div class="tab-pane fade" id="pending-delivery" role="tabpanel" aria-labelledby="pending-delivery-tab">
              <table class="table text-center table-hover" id="repair-table" cellpadding="10">
                  <thead>
                    <tr>
                      <th scope="col">Folio</th>
                      <th scope="col">Nombre Propietario</th>
                      <th scope="col">Num. Telefono</th>
                      <th scope="col">Marca</th>
                      <th scope="col">Modelo</th>
                      <th scope="col">Creado Por</th>
                      <th scope="col">Creado el</th>
                      <th scope="col">Estado</th>
                      <th scope="col">Importe</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for repair in repairs %}
      
                      {% if repair.repairStatus == "REP" %}
                        <tr class="clickable-row table-success" data-href="{% url 'repairtracker:repair-detail' repair.idCase %}">
                      
                      
                          <td scope="row">{{ repair.id }}</td>
                          <td>{{ repair.ownerName }}</td>
                          <td>{{ repair.phoneNumber }}</td>
                          <td>{{ repair.devBrand }}</td>
                          <td>{{ repair.devModel }}</td>
                          <td>{{ repair.createdBy }}</td>
                          <td>{{ repair.startDate }}</td>
                          <td>{{ repair.get_repairStatus_display }}</td>
                          <td>${{ repair.repairCost}}</td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                  </tbody>
                </table>

          </div>

          <div class="tab-pane fade" id="completed" role="tabpanel" aria-labelledby="completed-tab">
              <table class="table text-center table-hover" id="repair-table" cellpadding="10">
                  <thead>
                    <tr>
                      <th scope="col">Folio</th>
                      <th scope="col">Nombre Propietario</th>
                      <th scope="col">Num. Telefono</th>
                      <th scope="col">Marca</th>
                      <th scope="col">Modelo</th>
                      <th scope="col">Creado Por</th>
                      <th scope="col">Creado el</th>
                      <th scope="col">Estado</th>
                      <th scope="col">Monto</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for repair in repairs %}
      
                      {% if repair.repairStatus == "ENT" %}
                        <tr class="clickable-row table-info" data-href="{% url 'repairtracker:repair-detail' repair.idCase %}">
                      
                      
                          <td scope="row">{{ repair.id }}</td>
                          <td>{{ repair.ownerName }}</td>
                          <td>{{ repair.phoneNumber }}</td>
                          <td>{{ repair.devBrand }}</td>
                          <td>{{ repair.devModel }}</td>
                          <td>{{ repair.createdBy }}</td>
                          <td>{{ repair.startDate }}</td>
                          <td>{{ repair.get_repairStatus_display }}</td>
                          <td>${{ repair.repairCost}}</td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                  </tbody>
                </table>

          </div>

          <div class="tab-pane fade" id="discarded" role="tabpanel" aria-labelledby="discarded-tab">
              <table class="table text-center table-hover" id="repair-table" cellpadding="10">
                  <thead>
                    <tr>
                      <th scope="col">Folio</th>
                      <th scope="col">Nombre Propietario</th>
                      <th scope="col">Num. Telefono</th>
                      <th scope="col">Marca</th>
                      <th scope="col">Modelo</th>
                      <th scope="col">Creado Por</th>
                      <th scope="col">Creado el</th>
                      <th scope="col">Estado</th>
                      <th scope="col">Monto</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for repair in repairs %}
      
                      {% if repair.repairStatus == "DES" %}
                        <tr class="clickable-row table-danger" data-href="{% url 'repairtracker:repair-detail' repair.idCase %}">
                      
                      
                          <td scope="row">{{ repair.id }}</td>
                          <td>{{ repair.ownerName }}</td>
                          <td>{{ repair.phoneNumber }}</td>
                          <td>{{ repair.devBrand }}</td>
                          <td>{{ repair.devModel }}</td>
                          <td>{{ repair.createdBy }}</td>
                          <td>{{ repair.startDate }}</td>
                          <td>{{ repair.get_repairStatus_display }}</td>
                          <td>${{ repair.repairCost}}</td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                  </tbody>
                </table>

          </div>

        </div>


          <!--<h2><a href="#">{{ repair.idCase }}</h2>
          <h5>{{ repair.startDate }}</h5>
          <h5>{{ repair.devType }}</h5>
          <h5>{{ repair.serialNumber }}</h5>
          <h5>{{ repair.devBrand }}</h5>
          <p>{{ repair.probDescription }}</p>-->
        </div>


    </div>
{% endblock %}

{% block scripts %}

  <script src="{% static 'jquery-searchable/jquery.searchable.js' %}"></script>
  <script type="text/javascript">
    $(function () {
      $( '.table' ).searchable();
    });
  </script>

  <script type="text/javascript">
      $(document).ready(function($) {
        $(".clickable-row").click(function() {
            window.location = $(this).data("href");
        });
    });
  </script>

{% endblock %}


