{% extends 'base.html' %}
{% load static from staticfiles %}
{% block subtitle %}
  Buscar Reparación
{% endblock %}

{% block styles %}
  <link href="{% static 'repairsearch_styles.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

{% if messages %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
   <ul>
       {% for message in messages %}
       <li>{{ message }}</li>
       {% endfor %}
   </ul>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endif %}

<h1>Buscar Reparación</h1>
<label>No. Rastreo: </label>
    <form action="{% url 'repairtracker:search' %}" method="GET">
        <input class="form-control" type="text" id="search_textbox" name="q" required>
        <input class="btn btn-primary" type="submit" id="search_button" value="Buscar">
    </form>

{% endblock %}
