{% extends 'pdfbase.html' %}
{% load static from staticfiles %}

{% block pagetitle %}
Ticket de Ingreso
{% endblock %}

        
{% block content %}
        
         <div class='wrapper'>
             <div class='header'>

                    <br>
                    <div class="row">
        
                    <div class="col-sm">
                    {% if repair.repairStatus != "REP" and repair.repairStatus != "ENT" %}
                    <p class='title'>Ticket de Ingreso</p>
                    {% else %}

                    {% endif %}

                                    <div id="infoUsuario">

                        Propietario: {{ repair.ownerName }} <br/>
                        Tel: {{ repair.phoneNumber }} <br/>

                        {% if repair.userEmail %}
                        Correo: {{ repair.userEmail }} <br/>
                        {% endif %}
                        
                        

                        Atendido por: {{ repair.createdBy.first_name }} {{ repair.createdBy.last_name }}

                        </div>
                    
                    </div>
                    <div class="col-sm">
                    <p class='folio'>Folio: No. <span id='folioventa'>  {{ repair.id }}</span></p>
                    {{ repair.startDate }} 
                    </div>

                    </div>
                 
             </div>
        </div>
        
            <div class='details' id="cuerpo">






                <hr class='hrItem' />
                <table class="table table-bordered" cellpadding="10">
                        <tr>
                            <td>Tipo Dispositivo</td>
                            <td>{{ repair.get_devType_display }}</td>

                        </tr>
                        <tr>
                            <td>Marca</td>
                            <td>{{ repair.devBrand }}</td>

                        </tr>
                        <tr>
                            <td>Modelo</td>
                            <td>{{ repair.devModel}}</td>
                        </tr>
                        {% if repair.serialNumber %}
                        <tr>
                            <td>No. Serial</td>
                            <td>{{ repair.serialNumber }}</td>
                        </tr>
                        {% endif %}
                        {% if repair.imeiNumber %}
                        <tr>
                            <td>No. IMEI</td>
                            <td>{{ repair.imeiNumber }}</td>
                        </tr>
                        {% endif %}
                        <tr>
                          <td>Descripción del Problema</td>
                          <td>{{ repair.probDescription }}</td>
                        </tr>
                        <tr>
                            <td>Condiciones del Equipo al Recibirse</td>
                            <td>
                                <ul>
                                    <li>{{ repair.get_con_devPower_display }}</li>
                                    <li>{{ repair.get_con_devAssembly_display }}</li>
                                    <li>{{ repair.get_con_devChargeCable_display }}</li>
                                    <li>{{ repair.get_con_devChargeAdapter_display }}</li>
                                    <li>{{ repair.get_con_devSIM_display }}</li>
                                    <li>{{ repair.get_con_devCase_display }}</li>
                                    <li>{{ repair.get_con_devSDCard_display }}</li>
                                    <li>{{ repair.get_con_devBattery_display }}</li>
                                </ul>
                            </td>
                        </tr>

                        </table>
  
            </div>
            <hr>
            <div id="clausulas" class="text-left">
                <ol>
                    <li>
                        Se cobrara $50 de revisión por equipo aunque no funcione.
                    </li>
                    <li>
                        La garantía es solo sobre la reparación hecha y empieza a partir de la fecha de egreso al taller.
                    </li>
                    <li>
                        Si no recoge su equipo después de 30 días de su recepción y/o reparación, pasara a ser propiedad de COMPANY NAME
                    </li>
                    <li>
                        Debe presentar este comprobante para que se haga entrega del equipo.
                    </li>
                    <li>
                        No nos hacemos responsables en caso de robo e incendio.
                    </li>
                    <li>
                        No se hace garantía en software, liberación o equipos mojados.
                    </li>
                    <li>
                        La garantía en cambio de pantallas y piezas es por 15 días.
                    </li>
                </ol>
            </div>
        
        <div id="firma">
            <p id="firma-campo">____________________________________________</p>
            <p id="firma-label">ACEPTO Firma del Cliente</p>
        </div>


   {% endblock %}


