{% extends 'base.html' %}

{% load bootstrap %}


{% block subtitle %}
  Actualizar Perfil
{% endblock %}

{% block content %}

<form action = "." method="POST">
  {% csrf_token %}
 

  <table>
    {{ form|bootstrap }}
    <tr>
      <td>
        <input class="btn btn-primary btn-raised" type="submit" value="Guardar">
      </td>
    </tr>
  </table>

</form>

{% endblock %}
