{% extends 'base.html' %}
{% load static from staticfiles %}
{% load bootstrap %}

{% block subheader %}
  Mi Perfil
{% endblock %}

{% block styles %}
  <link href="{% static 'account_styles.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<form action = "." method="POST">
  {% csrf_token %}

  <div class="container">

    
    <div class="row">
        <div class="col-12">
            <div class="card">

                <div class="card-body">
                    <div class="card-header mb-4">
                        <div class="d-flex justify-content-start">
                            <div class="image-container">
                                <img src="http://placehold.it/150x150" id="imgProfile" style="width: 150px; height: 150px"
                                    class="img-thumbnail" />
                                <div class="middle">
                                    <input type="button" class="btn btn-secondary" id="btnChangePicture" value="Change" />
                                    <input type="file" style="display: none;" id="profilePicture" name="file" />
                                </div>
                            </div>
                            <div class="userData ml-3">
                                <h2 class="d-block" style="font-size: 1.5rem; font-weight: bold"><a href="javascript:void(0);">{{ user.username }} {{ user.ap_pat }} {{ user.ap_mat}}</a></h2>
                                
                                <h6 class="d-block">Email: {{user.email}} </h6>
                            </div>
                            <div class="ml-auto">
                                <input type="button" class="btn btn-primary d-none" id="btnDiscard" value="Discard Changes" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <ul class="nav nav-tabs mb-3" id="myTab" role="tablist">
                                <li class="nav-item">
                                  <a class="nav-link active" id="info-tab" data-toggle="tab" href="#basicInfo" role="tab" aria-controls="home" aria-selected="true">Información Básica</a>
                                </li>
                                <li class="nav-item">
                                  <a class="nav-link" id="repairs-tab" data-toggle="tab" href="#repairs" role="tab" aria-controls="profile" aria-selected="false">Mis Reparaciones</a>
                                </li>

                              </ul>
                              <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade show active" id="basicInfo" role="tabpanel" aria-labelledby="info-tab">
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">Nombre: {{ user.first_name }} {{user.last_name}}</li>
                                        <li class="list-group-item">Email: {{ user.email }}</li>
                                        <li class="list-group-item">Telefono: </li>
                                    </ul>

                                </div>
                                <div class="tab-pane fade" id="repairs" role="tabpanel" aria-labelledby="repairs-tab">
                                    <li class="list-group-item">Numero de Reparaciones: </li>
                                    <div class="row m-3">

                                        
                                        <div class="col">
                                            <div class="card bg-primary text-white">
                                                <div class="card-header d-flex justify-content-between">Pendientes <span class="badge badge-light">4</span></div>
                                                <div class="card-body">

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="card bg-warning text-white">
                                                <div class="card-header d-flex justify-content-between">En proceso<span class="badge badge-light">4</span></div>
                                                <div class="card-body">

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="card bg-success text-white">
                                                <div class="card-header d-flex justify-content-between x">Terminadas<span class="badge badge-light">4</span></div>
                                                <div class="card-body">

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                                <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
                              </div>
 
                        </div>
                    </div>
                    <a href="{% url 'accounts:account_update' %}" class="btn btn-primary btn-raised" role="button" aria-pressed="true">Actualizar Perfil</a>

                </div>

            </div>
        </div>
    </div>


</div>






</form>

{% endblock %}
