{% extends 'base.html' %}

{% load bootstrap %}

{% block subtitle %}
Crear Cuenta
{% endblock %}

{% block content %}



<div class="signup">


    <h1>Crear Cuenta</h1>
    <h5>{{role_title}}</h5>

    <form method="POST" action="{% url 'accounts:signup' %}">
        {% csrf_token %}
        <table>
            <div class="form-group col-md-6 mx-auto">
                {{ form|bootstrap }}
            </div>
            <div class="form-group col-md-6 mx-auto">
                <input type="submit" class="btn btn-success btn-block btn-raised" name="submit" value="Crear" />
            </div>
        </table>
    </form>
</div>
{% endblock %}