{% extends 'base.html' %}

{% block content %}
<div class="signup">

    {% if messages %}
       <ul>
           {% for message in messages %}
           <li>{{ message }}</li>
           {% endfor %}
       </ul>
   {% endif %}

   <h1>Create Staff Member account</h1>

    <form method="POST" action="{% url 'accounts:signup' %}" >
        {% csrf_token %}
        <table>
           {{ form.as_table }}
            <tr>
               <td></td>
               <td><input type="submit" name="submit" value="Signup" /></td>
           </tr>
        </table>
    </form>
</div>
{% endblock %}
