.site-form input, .site-form textarea{
  display:block;
}

body{
  margin-bottom: 60px;
}

.card{
  margin-bottom: 5px;
}

#content{
  padding:0px;
  display:flex;
  flex-direction: column;


}

.checkbox-inline, .checkbox label, .is-focused .checkbox-inline, .is-focused .checkbox label, .is-focused .radio-inline, .is-focused .radio label, .is-focused .switch label, .radio-inline, .radio label, .switch label{
  color:rgba(0, 0, 0, 1);
}



