/*.card:hover{
    transform: scale(1.1, 1.1);
    transition: all 0.4s ease-in-out;
}*/

.features-icons {

}

.bg-warning{
    background-color: rgb(247, 182, 18)!important;
}



.col-sm-6{
    background-color: rgba(0, 0, 0, 0);
    transition: all 0.2s ease;
}

.col-sm-6:hover{
    background-color: rgba(0, 0, 0, 0.1);
}




.features-icons .features-icons-item {

    max-width: 20rem;
}



.features-icons .features-icons-item .features-icons-icon {
height: 5rem;
}

.features-icons .features-icons-item .features-icons-icon i {
font-size: 4.7rem;

}


.lead{
    font-size:1rem;
}



.dashboard-icons{
    color:blue;

  }

.action-icon, .action-lead, .action-title{
    color: #13187E;
}


.material-icons{
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.no_underline:hover , .no_underline:visited, .no_underline:link , .no_underline:active{
    text-decoration: none;
}





