body{
  line-height: 1.5;
}

.img-container{
    position:relative;
    display:inline-block;
  }
  .img-container .overlay{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgb(0, 0, 0);
    opacity:0;
    transition:opacity 200ms ease-in-out;
  }
  
  .img-container:hover .overlay{
    opacity:0.9;
  }

  .table td, .table th{
    padding:0.5rem;
    vertical-align: middle;
  }

  .nopad{
    margin: 0;
    padding: 0;
  }

  

  .overlay a{
    
    position:relative;
    display:block;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    color:#fff;
    
  }




  
.table-warning2, .table-warning2>td, .table-warning2>th {
  background-color: rgb(250, 215, 128)!important;
}

table-hover .table-warning2:hover, .table-hover .table-warning2:hover>td, .table-hover .table-warning2:hover>th{
  background-color: rgb(211, 182, 108)!important;
}

.table-warning, .table-warning>td, .table-warning>th {
  background-color: rgb(248, 122, 87)!important;
}

table-hover .table-warning:hover, .table-hover .table-warning:hover>td, .table-hover .table-warning:hover>th{
  background-color: rgb(194, 95, 68)!important;
}


