#create-btn{
  z-index: 0;
  margin: 10px;
}

#search-btn{
  margin-top:10px;
}

#search{
  margin-bottom: 10px;
}

.nav-tabs .nav-link.active{
  border-bottom-color: #FF5325
}



.table-warning2, .table-warning2>td, .table-warning2>th {
  background-color: rgb(250, 215, 128);
}

table-hover .table-warning2:hover, .table-hover .table-warning2:hover>td, .table-hover .table-warning2:hover>th{
  background-color: rgb(211, 182, 108);
}

.table-warning, .table-warning>td, .table-warning>th {
  background-color: rgb(248, 122, 87);
}

table-hover .table-warning:hover, .table-hover .table-warning:hover>td, .table-hover .table-warning:hover>th{
  background-color: rgb(194, 95, 68);
}


.alert{
  position:fixed;
  z-index: 1000;
  opacity: 0.5;
}


/*Hover Close en Imagenes*/

.container-woverlay {
  position: relative;
  width: 50%;
}

.image-woverlay {
opacity: 1;
display: block;
width: 100%;
height: auto;
transition: .5s ease;
backface-visibility: hidden;
}

.middle-woverlay {
transition: .5s ease;
opacity: 0;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
text-align: center;
}

.container-woverlay:hover .image-woverlay {
opacity: 0.3;
}

.container-woverlay:hover .middle-woverlay {
opacity: 1;
}

.text-woverlay {
background-color: #4CAF50;
color: white;
font-size: 16px;
padding: 16px 32px;
}

.btn> span{
  vertical-align: middle !important;
  padding-right: 10px;
  padding-bottom: 3px;
}
