/*!
 * Start Bootstrap - Heroic Features (https://startbootstrap.com/template-overviews/heroic-features)
 * Copyright 2013-2017 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-heroic-features/blob/master/LICENSE)
 */

html{
  position: relative;
  min-height: 100%;

}


.nav-link{
  text-transform: none;
}

#username-display{
  text-transform: none;
}



 body {
  background-color: #f5f5f5;
  background-position: center;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
  -o-background-size: contain;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;

  padding-bottom: 0;
  margin-bottom: 60px;


 }


 .jumbotron{
  color: white;
  background-color: #26C6DA;
 }

 .full-width-div {
     position: relative;
     width: 100%;
     left: 0;
 }
 .jumbotron p{
  color: white;
 }

 .card {
   height: 100%;
 }

 .noborder{
  border: none;
 }

 .card-footer{
   background:none;
 }

 .card p{
  color: black;
 }

.contact, .create-repair{
     padding:2%;
}


 #problemTypeForm > .form-check{
   padding-right: 1%;
 }

 #content{
  background-color: #ffffffc0;
   padding:20px;
   display:flex;
   flex-direction: column;


 }


 #footer{
   position: relative;
  display: none;
   bottom: 0;
   left:0;
   right:0;
   width: 100%;
  /* Set the fixed height of the footer here */
   line-height: 30px; /* Vertically center the text there */
   background-color: #26C6DA;
   z-index: -1;
 }

 #footer p{
   margin: 10px 0;
 }



.btn-link #username-display{
  color: white;
}

.card-img-top{
  height:120px;
  fill:blue;
}

.navbar{
    background-color: #222c3c;
}

.btn-primary{
  background-color: #03A9F4;
  border-color: rgba(255,255,255, 0);
}

.btn-primary:hover{
  background-color: #303F9F;
  border-color: rgba(255,255,255, 0);
}

.btn-primary:active{
  background-color: #303f9f;
  border-color: rgba(255,255,255, 0);
}

.btn-primary:focus{
  background-color: red;
}

#username-display{
  background-color: rgba(255,255,255, 0);
  border-color: rgba(255,255,255, 0);
  color: white;
}

#username-display:hover, #username-display:focus, #username-display:active, #username-display.active  {
  background-color: rgba(255,255,255,.2);

}

/* change the brand and text color */
.navbar .navbar-brand,
.navbar .navbar-text {
    color: rgba(255,255,255,1);

}


/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: rgba(255,255,255,.9);
}






label.required:after { 
  content: '*'; 
  color:red;
  font-size: 1rem;
}


.signup-link{
  margin-right: 10px;
}



.dropdown-menu.fade {
   display: block;
   opacity: 0;
   pointer-events: none;
}

.show > .dropdown-menu.fade {
   pointer-events: auto;
   opacity: 1;
}

.material-icons{
  color:white;
}




.dropdown-item> span{ 
  vertical-align: middle !important; 
  padding-right:20px;
  padding-bottom: 3px;
}


.bmd-form-group .bmd-label-static {
  font-size: 1rem;
  color: black;
}

