.title {
  font-size: 20px;
  font-weight: 100;
  text-align: center;
  color: #007cae;
}

.content{
    /*transform: rotate(-90deg) !important;*/
    min-width: 0px !important;
    width: 21cm;
    height: 14cm;  
}


.table-bordered {
  border: 5px solid #000000 !important;
}
.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
   border: 5px solid #000000 !important;
}


.content{
  padding-right: 10% !important;
}

#folioventa{
  font-size: 1.5rem;
  font-weight: 900;
  color: red;
}

#infoUsuario{
  text-align:left;
}

#datosFiscales{
  text-align:left;
}

#firma{
  margin-top:50px;
}

#clausulas{
  text-align: left;
}




div {     
      border: 0;    
     /*margin: 0px 5% 0px 5%;  */   
     padding: 0;     
     float: none;     
     position: static;     
     overflow: visible; 
}

body, page {
  
  box-shadow: 0;
}






#printPageButton{
    display:none;
}