html{
    /*transform: rotate(-90deg);*/
}

body {
    font-weight: 200;
    font-size: 0.95rem !important;
    line-height: 1 !important;
}
.header {
    font-size: 20px;
    font-weight: 100;
    text-align: center;
    
}
.logo{
   font-size: 20px;
   font-weight: 100;
   text-align: center;
   color: #FF5325;
}
.folio{
   font-size: 20px;
   font-weight: bold;
   text-align: center;
   color: #000000;
}
.title {
    font-size: 22px;
    font-weight: 100;
   /* text-align: right;*/
   padding: 10px 20px 0px 20px;  
}
.title span {
    color: #007cae;
}
.details {
    /*margin-left: 40%;*/
}
.hrItem {
    border: none;
    height: 1px;
    /* Set the hr color */
    color: #333; /* old IE */
    background-color: #fff; /* Modern Browsers */
}
table, th, td {
   border: 1px solid black;
}

.table-bordered {
    border: 3px solid #000000;
  }
  .table-bordered > thead > tr > th,
  .table-bordered > tbody > tr > th,
  .table-bordered > tfoot > tr > th,
  .table-bordered > thead > tr > td,
  .table-bordered > tbody > tr > td,
  .table-bordered > tfoot > tr > td {
     border: 3px solid #000000;
  }

#folioventa{
    color:red;
    
}

.folio{
    text-align:right;
}

.content{
    margin-top:20px;
}

#infoUsuario{
    text-align:left;
}

#firma-label, #firma-campo{
    text-align: center;
}

#firma-label{
    padding-top:10px;
}

#firma{
    margin-top:50px;
}

#clausulas{
    text-align: left;
}

#datosFiscales{
    text-align:right;
}

body {
    background: white;
    display: block;
    margin: 0;
    margin-bottom: 0.5cm;
    
}



  body[size="A5"] {
    width: 14cm;
    height: 21cm;
  }
  body[size="A5"][layout="landscape"] {
    width: 21cm;
    height: 14cm;  
  }


#print-btn{
    display: block;
}