
{% load static from staticfiles %}



<!DOCTYPE html>

<html>

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block subtitle %} {% endblock %} - {{ project_name }}</title>

    <!-- Bootstrap core CSS -->
    <!---<link rel="stylesheet" href="{% static '/bootstrap/css/bootstrap.min.css' %}">-->
    <link rel="stylesheet" href="{% static 'bootstrap-material-design.min.css' %}">

    {% block headscripts %}

    {% endblock %}
    <!-- Custom styles for this template -->
    <link href="{% static 'styles.css' %}" rel="stylesheet">
    <link href="{% static 'sidebar.css' %}" rel="stylesheet">
    <link href="{% static 'md-iconfont/material-icons.css' %}" rel="stylesheet">
    <link href="{% static 'bootstrap-select/dist/css/bootstrap-select.css' %}" rel="stylesheet">
    
    <style>


      @font-face {
        font-family: 'Material Icons';
        font-style: normal;
        font-weight: 400;
        src: url("{% static 'md-iconfont/MaterialIcons-Regular.eot' %}"); /* For IE6-8 */
        src: local('Material Icons'),
          local('MaterialIcons-Regular'),
          url("{% static 'md-iconfont/MaterialIcons-Regular.woff2' %}") format('woff2'),
          url("{% static 'md-iconfont/MaterialIcons-Regular.woff' %}") format('woff'),
          url("{% static 'md-iconfont/MaterialIcons-Regular.eot' %}") format('truetype');
      }
    </style>
    
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto" rel="stylesheet">
    {% block styles %}

    {% endblock %}
  </head>

  <body>
    <div id="wrapper">
    {% include 'sidebar.html' %}
    {% include 'navbar.html' %}


    <!-- Page Content -->
      <div id="page-content-wrapper">
          <div class="container-fluid" id="content">
              {% include 'messages.html' %}

            {% block content %}

            {% endblock %}

          </div>
      </div>
    </div>
    <!-- /.container -->

    <!-- Footer -->
    <br/>
    <footer class="" id="footer">
      <div class="container-fluid">
        <div class="row">

        <div class="col">
          <p class="text-center text-white">Copyright &copy; {{ project_name }} {% now "Y" %}</p>
        </div>

        </div>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->

    <script src="{% static '/bootstrap/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static '/bootstrap/popper.min.js' %}"></script>
    <script src="{% static 'jquery.disableAutoFill.min.js' %}"></script>
    <script src="{% static 'bootstrap-select/dist/js/bootstrap-select.js' %}"
    
    <script src="{% static '/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'scripts.js' %}"></script>
    <script src="{% static 'bootstrap-material-design.js' %}"></script>
 
    <script>
      $(document).ready(function() { $('body').bootstrapMaterialDesign(); });
    </script>
    <script>
        $("#menu-toggle").click(function(e) {
          e.preventDefault();
          $("#wrapper").toggleClass("toggled");
      });
    </script>
    <script>
      $('.form-control').disableAutoFill();
    </script>
    <script>
        // Javascript to enable link to tab
        var url = document.location.toString();
        if (url.match('#')) {
        $('.nav-tabs a[href="#' + url.split('#')[1] + '"]').tab('show');
        }
        
        // Change hash for page-reload
         $('.nav-tabs a').on('shown.bs.tab', function (e) {
         window.location.hash = e.target.hash;
         window.scrollTo(0, 0);
         })
    </script>
    <script>
      function auto_grow(element) {
        element.style.height = "5px";
        element.style.height = (element.scrollHeight)+"px";
    }
    </script>

    
    {% block scripts %}

    {% endblock %}
  
  </body>

</html>
