{% if form.errors %}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    <ul>
        {% for field in form %}
        {% for error in field.errors %}



        <li>{{ error|escape }}</li>



        {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}

        <li>{{ error|escape }}</li>

        {% endfor %}
    </ul>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endif %}

{% if messages %}
<div class="alert alert-warning alert-dismissible fade show align-self-center" role="alert">
   <ul>
       {% for message in messages %}
       <li>{{ message }}</li>
       {% endfor %}
   </ul>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endif %}