{% load is_active %}
<div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <span>Menu Principal</span>
            </li>

              <li class="nav-item">
                    <a class="dropdown-item" href="{% url 'repairtracker:repair-list' %}"><span class="material-icons sidebar-icon">assignment</span>Lista de Reparaciones </a>
                </li>
                <li class="nav-item">
                <a class="dropdown-item" href="{% url 'repairtracker:repair-create' %}"><span class="material-icons sidebar-icon">note_add</span>Registrar Dispositivo</a>
                </li>
                {% if user.is_superuser %}
                <li class="nav-item">
                  <a class="dropdown-item" href="{% url 'accounts:staff_signup' %}"><span class="material-icons sidebar-icon">person_add</span>Registrar Colaborador</a>
                </li>
                {% endif %}
              <div class="dropdown-divider"></div>
                  <li class="nav-item">
                    <a class="dropdown-item {% is_active 'home' %}" href="{% url 'home' %}"><span class="material-icons sidebar-icon">assessment</span>Inicio</a>
                  </li>

              
            
        </ul>
    </div>