#patternHolder .patt-wrap {
    z-index: 10;
  }
  #patternHolder .patt-circ.hovered {
    background-color: #cde2f2;
    border: none;
  }
  #patternHolder .patt-circ.hovered .patt-dots {
    display: none;
  }
  #patternHolder .patt-circ.dir {
    background-position: center;
    background-repeat: no-repeat;
  }
  #patternHolder .patt-circ.e {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  #patternHolder .patt-circ.s-e {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  #patternHolder .patt-circ.s {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  #patternHolder .patt-circ.s-w {
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
  }
  #patternHolder .patt-circ.w {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  #patternHolder .patt-circ.n-w {
    -webkit-transform: rotate(225deg);
     transform: rotate(225deg);
  }
  #patternHolder .patt-circ.n {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
  }
  #patternHolder .patt-circ.n-e {
    -webkit-transform: rotate(315deg);
    transform: rotate(315deg);
  }